import streamlit as st
import requests

API_KEY = "10aac090704913dc4b32439444463426"

st.set_page_config(page_title="AQI", page_icon="🌫", layout="centered")

# --- Classy Minimal Styling ---
st.markdown("""
    <style>
    .block-container {
        max-width: 750px;
        padding-top: 2.5rem;
    }

    /* Metric card box */
    .stMetric {
        background-color: #f8fafc;
        padding: 15px;
        border-radius: 12px;
        box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    }

    /* Metric LABEL (PM2.5 etc) */
    .stMetric label {
        color: #111827 !important;
        font-weight: 600;
    }

    /* Metric VALUE (numbers) */
    div[data-testid="stMetricValue"] {
        color: #111827 !important;
        font-weight: 700;
    }

    h2, h3 {
        margin-top: 1.5rem;
    }
    </style>
""", unsafe_allow_html=True)

st.title("Air Quality Index")

city = st.text_input("City", placeholder="Start typing a city...")

# --- Auto Fetch ---
if city and len(city) > 2:

    geo_url = f"http://api.openweathermap.org/geo/1.0/direct?q={city}&limit=1&appid={API_KEY}"
    geo_data = requests.get(geo_url).json()

    if geo_data:

        name = geo_data[0]["name"]
        country = geo_data[0]["country"]
        lat = geo_data[0]["lat"]
        lon = geo_data[0]["lon"]

        aqi_url = f"http://api.openweathermap.org/data/2.5/air_pollution?lat={lat}&lon={lon}&appid={API_KEY}"
        aqi_data = requests.get(aqi_url).json()

        aqi = aqi_data["list"][0]["main"]["aqi"]

        labels = {
            1: "Good",
            2: "Fair",
            3: "Moderate",
            4: "Poor",
            5: "Very Poor"
        }

        category = labels.get(aqi, "Unknown")

        st.subheader(f"{name}, {country}")

        # --- Classy AQI Color ---
        color_map = {
            1: "#22c55e",
            2: "#84cc16",
            3: "#eab308",
            4: "#f97316",
            5: "#ef4444"
        }

        aqi_color = color_map.get(aqi, "#6b7280")

        st.markdown(
            f"<h1 style='color:{aqi_color}; margin-bottom:0; font-size:70px; font-weight:800;'>{aqi}</h1>",
            unsafe_allow_html=True
        )
        st.caption(f"Condition: {category}")

        components = aqi_data["list"][0]["components"]

        st.divider()
        st.subheader("Pollutant Details")

        col1, col2, col3 = st.columns(3)

        with col1:
            st.metric("PM2.5", round(components["pm2_5"], 1))
            st.metric("PM10", round(components["pm10"], 1))

        with col2:
            st.metric("NO2", round(components["no2"], 1))
            st.metric("O3", round(components["o3"], 1))

        with col3:
            st.metric("CO", round(components["co"], 1))
            st.metric("SO2", round(components["so2"], 1))

    else:
        st.error("City not found")
